---
layout: default
support: [jquery, gallery]
---

<div id="grid">
  <div class="grid-sizer"></div>
  {% for file in page.files %}
  <div class="grid-item">
    <a class="image-container" href="{{ page.baseurl }}/{{ page.folder }}/{{ file.name }}">
      <img class="image" src="{{ page.baseurl }}/c_scale,w_0.25/{{ page.folder }}/{{ file.name }}">
      <div class="overlay">
        <p class="overlay-text">{{ file.title }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


<div class="scroll-status">
  <div class="infinite-scroll-request">
    <div class="loader-ellips">
      <span class="loader-ellips__dot loader-ellips__dot--1"></span>
      <span class="loader-ellips__dot loader-ellips__dot--2"></span>
      <span class="loader-ellips__dot loader-ellips__dot--3"></span>
      <span class="loader-ellips__dot loader-ellips__dot--4"></span>
    </div>
  </div>
</div>

<script>
  let lg = lightGallery(document.getElementById('grid'), {
    selector: '.image-container',
    download: false,
    mobileSettings: {
      showCloseIcon: true,
    }
  });

  var $grid = $('#grid').masonry({
    itemSelector: '.none',
    percentPosition: true,
    columnWidth: '.grid-sizer',
  });

  let msnry = $grid.data('masonry');

  $grid.imagesLoaded( function() {
    $grid.removeClass('are-images-unloaded');
    $grid.masonry('option', {itemSelector: '.grid-item'});
    var $items = $grid.find('.grid-item');
    $grid.masonry('appended', $items);
  });

  $grid.infiniteScroll({
    path: function() {
      let pageNumber = ( this.loadCount + 2 );
      if ( pageNumber <= {{ page.pagecount }} ) {
        return `{{ site.baseurl }}/page${pageNumber}`;
      }
    },
    append: '.grid-item',
    outlayer: msnry,
    history: false,
    status: '.scroll-status'
  });

  $grid.on('append.infiniteScroll', function(event, body, path, items, response) {
    lg.refresh()
  });
</script>
